PORT=4060

DB_HOST=h40.eu.core.hostnext.net
DB_PORT=3306
DB_USER=petzonep_zubairahmed
DB_PASSWORD=your_password
DB_NAME=petzonep_laboratory-petzone

JWT_SECRET=petzone-lab-jwt-secret-change-me
JWT_EXPIRES=7d
